@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
/*@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');*/
body {
    background: #FFFAFA;
}
a {
    text-decoration-line: none;
    /*   text-decoration-line: underline; */
    /*   text-decoration-line: overline; */
    /*   text-decoration-line: line-through; */
    /*   text-decoration-line: underline line-through overline; */
}
.section {
    margin: 0 auto;
    max-width: 600px;
    padding: 1em;
    text-align:center;
    color: #6c757d;
}

.sub-title {
    width: 80%;
    /*border-bottom: 1px solid #dddddd;*/
    text-align: center;
    margin: 20px auto !important;
    /*padding-bottom: 20px;*/
    /*font-family: 'Single Day';*/
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.6em;
    font-weight: 500;
}
.navi-icon{
    width: 3.125em;
    height: 3.125em;
}
.h5-division-line {
    border-bottom: 1px solid #dddddd;
    margin: 30px auto;
    width: 70%;
}
.h5-division-line:after {
    content: "◆";
    color: #dddddd;
    position: relative;
    top: 35px;
    /*left : calc(-30%);*/
}

.div-division-line {
    border-top: 1px solid #dddddd;
    margin: -5px auto;
    width: 70%;
}
.div-division-line:after {
    content: "◆";
    color: #dddddd;
    position: relative;
    top: -14px;
    /*left: calc( 50% - 8px );*/
}

.invite-text {
    line-height: 2.1em;
    font-size: 0.9em;
}
.invite-small-text {
    line-height: 2.1em;
    font-size: 12px;
    margin-right:10px;
}